.about-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
p{
    padding: 20px;
}

.in-progress-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.completed-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}