
body { max-width: 1240px; margin: 0 auto;}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
   
    
}
Carousell{
    width:1240px
}